.btn-primary-container {
	--btn-color: var(--color-primary-container);
	--btn-fg: var(--color-primary-container-content);
}

.btn-secondary-container {
	--btn-color: var(--color-secondary-container);
	--btn-fg: var(--color-secondary-container-content);
}

.btn-accent-container {
	--btn-color: var(--color-accent-container);
	--btn-fg: var(--color-accent-container-content);
}

.btn-neutral-container {
	--btn-color: var(--color-neutral-container);
	--btn-fg: var(--color-neutral-container-content);
}

.btn-info-container {
	--btn-color: var(--color-info-container);
	--btn-fg: var(--color-info-container-content);
}

.btn-success-container {
	--btn-color: var(--color-success-container);
	--btn-fg: var(--color-success-container-content);
}

.btn-warning-container {
	--btn-color: var(--color-warning-container);
	--btn-fg: var(--color-warning-container-content);
}

.btn-error-container {
	--btn-color: var(--color-error-container);
	--btn-fg: var(--color-error-container-content);
}

.btn-inverse-primary {
	--btn-color: var(--color-inverse-primary);
	--btn-fg: var(--color-inverse-surface);
}

.btn-primary-fixed-dim {
	--btn-color: var(--color-primary-fixed-dim);
	--btn-fg: var(--color-primary-fixed-content);
}

.btn-base-content {
	--btn-color: var(--color-base-content);
	--btn-fg: var(--color-base-100);
}

.btn-base-content-variant {
	--btn-color: var(--color-base-content-variant);
	--btn-fg: var(--color-base-100);
}

.btn-base-100 {
	--btn-color: var(--color-base-100);
	--btn-fg: var(--color-base-content);
}

.btn-abse-150 {
	--btn-color: var(--color-base-150);
	--btn-fg: var(--color-base-content);
}

.btn-base-200 {
	--btn-color: var(--color-base-200);
	--btn-fg: var(--color-base-content);
}

.btn-base-250 {
	--btn-color: var(--color-base-250);
	--btn-fg: var(--color-base-content);
}

.btn-base-300 {
	--btn-color: var(--color-base-300);
	--btn-fg: var(--color-base-content);
}
