.radio-primary-container {
	--input-color: var(--color-primary-container);
}

.radio-secondary-container {
	--input-color: var(--color-secondary-container);
}

.radio-accent-container {
	--input-color: var(--color-accent-container);
}

.radio-neutral-container {
	--input-color: var(--color-neutral-container);
}

.radio-info-container {
	--input-color: var(--color-info-container);
}

.radio-success-container {
	--input-color: var(--color-success-container);
}

.radio-warning-container {
	--input-color: var(--color-warning-container);
}

.radio-error-container {
	--input-color: var(--color-error-container);
}

.radio-inverse-primary {
	--input-color: var(--color-inverse-primary);
}

.radio-primary-fixed-dim {
	--input-color: var(--color-primary-fixed-dim);
}
