# Rename this file into .env before putting in your secrets!

####################################################################################################
# REMEMBER TO REFLECT ANY CHANGES HERE IN GITHUB TEST ENVIRONMENT AND IN compose.override.test.yml #
####################################################################################################

KEYVAULT_HEALTH="ok, .env-fil, test-offline"


# Frontend svelte:
APP_REG_CLIENT_ID='00000000-0000-0000-0000-000000000000'
APP_CLIENT_SECRET=''
FRONTEND_SVELTE_ORIGIN='http://localhost:8661'

APP_CLIENT_SECRET='AAAAA-AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
# needs to be the real one for pytest and mscalClient:
AZURE_TENANT_ID=''
AZURE_CLIENT_ID='aaaaaaaa-0000-0000-0000-000000000000'
API_SCOPE='aaaaaaa-0000-0000-0000-000000000000'
BACK_CLIENT_SECRET='AAAAA-AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'


# PostgreSQL:
POSTGRES_HOST=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# Redis:
REDIS_HOST=""
REDIS_PORT=""
# sync database numbers with all other services!
REDIS_SESSION_DB=''
REDIS_SOCKETIO_DB=''
REDIS_WORKER_DB=''
REDIS_PASSWORD=""
REDIS_SESSION_PASSWORD=""
REDIS_SOCKETIO_PASSWORD=""
REDIS_WORKER_PASSWORD=""

# Socket.io:
SOCKETIO_ADMIN_USERNAME=''
SOCKETIO_ADMIN_PASSWORD=''