# Rename this file into .env before putting in your secrets!

KEYVAULT_HEALTH="ok, .env-fil, dev-offline, frontend_svelte"

# if this variable is set, the code tries to get all secrets from the key vault:
# AZ_KEYVAULT_HOST=""

BACKEND_HOST='backend_api'
BACKEND_FQDN='localhost:8660'


# This is the FRONTEND Client-Id:
FRONTEND_SVELTE_CLIENT_ID=''
FRONTEND_SVELTE_CLIENT_SECRET=''
AZURE_TENANT_ID=''
API_SCOPE=''

REDIS_HOST=''
REDIS_PORT=''
# sync database numbers with all other services!
REDIS_SESSION_DB=''
REDIS_SESSION_PASSWORD=""
